body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
table {
	margin: auto;
	border: 1px solid lightgray;
	
}


h3 {
	background-color: black;
	width: 50px;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}
.hints {
	height: 40px;

}

.hints-container {
	margin-top: 16px;
	margin-bottom: 16px;
	width: 100%;
	display: flex;
	justify-content:space-evenly;
	align-items: center;

}
.cell {
	width: 30px;
	height: 30px;
	font-size: 1.5em;
    background-color: gray;
	text-align:center;
}

.footer {
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
    bottom: 30px;
    width: 100%;
}

.buttons {
	display: flex;
	width: 300px;
	justify-content:space-evenly;
	margin-top: 30px
}
.lives {
	color: greenyellow;
	background-color: gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: xx-large;
	border: 2px solid white;
}
.no-more-lives {
	color: red;
	font-size:x-large;
	font-style: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding: 8px;
}
.gameHeader{
	
	margin-bottom:0;
	height: 50px;
	background-color: gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid white;
	
	
}
.gameHeader button{
	width: 50px;
    height: 50px;
}
	
.marked {
	background-color: lightblue;
} 

.revealed {
	background-color: lightgray;
}

.revealed-mine {
	background-color: red;
}

.crossed {
	background:
            linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,red 45%,red 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
            linear-gradient(135deg, gray 0%,gray 43%,red 45%,red 55%,gray 57%,gray 100%);
}

.around-0 {
	color: lightgray;
}

.around-1 {
	color: blue;
}

.around-2 {
	color: green;
}

.around-3 {
	color: red;
}

.around-4 {
	color: greenyellow;
}

.around-5 {
	color: orange;
}

.around-6 {
	color: fuchsia;
}

.around-7 {
	color: yellow;
}

.around-8 {
	color: purple;
}